body {
    margin: 0;
    padding: 0;
    font-family: consolas;
    background-color: rgb(125, 152, 175);
}
/* This is container part */
.container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.container .card {
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.container .card .face {
    width: 305px;
    height: 203px;
    transition: 0.4s;
}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1 {
    background: #ff0057;
    transform: translateY(0);
}




.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 22px;
    box-sizing: border-box;
    box-shadow: 0 22px 52px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2 {
    transform: translateY(0);
}

#close-window {
    position: absolute;
    display: flex;
    justify-content: end;
    color: red;
}


#contain1 label ,#contain2 label ,#contain3 label,#contain4 label{
    color: white;
    position: absolute;
    margin-top: 105px;
    z-index: 3;
}
img{
    cursor: pointer;
}
.image{
  width: 300px;
  height: 140px;
  border-radius: 10px;
  margin-top: 30px;
}
h1{
 display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-size: 3.5rem;
  /* background-color: black; */
}
label{
  font-size: 1.3rem;
}
#btn{
  background-color: green;
  border-radius: 10px;
  width: 150px;
  font-size: 1.3rem;
}

@media  screen and (max-width: 1250px) {
    body{
        background-color: rgb(110, 164, 111);
    }

  .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    
  h1{
    color: black;
    font-size: 2.5rem;
  }
}
